<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="tiles">
	<!-- top tiles start -->
	<div class="row tile_count">
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top "><i class="fa fa-user"></i>  Khách Hàng</span>
			<div class="count" >4</div>
		</div>
	
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-sitemap"></i>  Thể Loại Sách</span>
			<div class="count">4</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top "><i class="fa fa-book"></i>  Sách</span>
			<div class="count">12</div>
		</div>

	</div>
	<!-- top tiles end -->

</th:block>

</html>